*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.9rem;
}

ul{
    list-style: none;
}

button{
    border-radius: 0;
    border: none;
}

/* GENERAL */

.flex{
    display: flex
}

.flex-wrap{
    flex-wrap: wrap;
}

.margin-auto{
    margin: 0 auto;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.center-txt{
    text-align: center;
}

.s-txt{
    font-size: 1rem;
}

.m-txt{
    font-size: 1.3rem;
}

.l-txt{
    font-size: 2rem;
}

.xl-txt{
    font-size: 2.5rem;
}

.bt-white{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: black;
    background-color: white;
}

.bt-purple{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    background-color: #9792e4;
}

.bt-blue{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    background-color: #0084fd;
}

.deep-blue{
 color: #0084fd;
}

.light-blue{
 color: #b5ddff;
}

.purple{
    color: #9792e4;
}

.yellow{
    color: #fdc15f;
}

.white{
    color: white;
}

.grey{
    color: rgb(107, 107, 107);
}


/* HEADER */

header{
    height: 5rem;
    background-color: #0084fd;
    justify-content: space-between;
    align-items: center;
}

header i{
    font-size: 1.5rem;
    margin-right: 2rem;
}

header img{
    padding: 1.1rem;
}

header ul{
    align-items: center;
}

header li{
    padding-left: 1rem;
}

header li a{
    color: white;
    text-decoration: none;
}

header nav.nav-desktop{
    display: none;
    margin-right: 1rem;
}


/* CARDS */


section.cards div.container{
    margin: 1rem;
}


section.cards div.card{
    background-color: #b5ddff;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
}

section.cards div.card i{
    font-size: 5rem;
}

section.cards div.big-card{
    padding-bottom: 0;
    text-align: left;
}

section.cards div.big-card i{
    font-size: 1rem;
}

section.cards div.big-card button{
    padding: 0.6rem 3rem;
    border-radius: 2rem;
    letter-spacing: 0.2rem;
}

section.cards div.big-card button,
section.cards div.card h2,
section.cards div.card p{
    margin: 1.3rem 0;
}

section.cards p{
    font-weight: 600;
}

section.cards div.img-cont{
    position: relative;
    width: 100%;
    height: 37vh;
}

section.cards img{
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* INFO */

section.info{
    background-color: #9792e4;
}

section.info>div{
    flex-direction: column;
}

section.info div.left,
section.info div.right{
    width: 100%;
    padding: 2rem;
}

section.info img{
    width: 100%;
}

section.info div.left h2,
section.info div.left p,
section.info div.left img{
    margin: 2.5rem 0;
}

section.info div.right h2,
section.info div.right p,
section.info div.right img{
    margin: 1rem 0;
}

section.info div.right div.container{
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    padding: 1rem;
    text-align: center;
}

section.info div.right p{
    font-style: italic;
}

section.info button{
    color: black;
    padding: 16px 20px;
    border-radius: 50%;
}

/* TESTIMONIALS*/

section.testimonials{
    text-align: center;
    padding: 1rem 1.5rem;
}

section.testimonials p{
    margin: 1rem 1rem;
}

section.testimonials>p{
    margin: 1.5rem;
}

section.testimonials div.id{
    margin: 2rem 1rem;
    background-color: #9792e4;
    border-radius: 2.5rem;
    padding: 1.5rem 0;
}

section.testimonials img{

    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
    
}

/* WHY-US */

section.why-us{
    background-color: #9792e4;
}

section.why-us>h1{
    width: 90%;
    margin: 4rem auto;
    padding-top: 4rem;
    line-height: 1.5;
}

section.why-us div.pov{
    background-color: white;
    border-radius: 1rem;
    margin: 2rem 2rem;
    padding: 0 2rem;
}

section.why-us div.pov>h1{
    padding: 2rem 0;
}

section.why-us div.pov>p{
    padding: 1.5rem 0;
}

section.why-us div.pov button{
    margin-bottom: 1.5rem;
    padding: 0.5rem 2.5rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
}

/* RESPONSIVE */

@media screen and (min-width: 480px) {

    /* CARDS */
    
    section.cards div.card{
        width: calc((100% / 3) - 2rem);
    }

    section.cards div.big-card{
        width: calc(((100% / 3) * 2) - 2rem);
    }

    section.cards img{
        width: 70%;
        display: block;
    }

    /* TESTIMONIALS */

    section.testimonials div.id{
        display: flex;
    }

    section.testimonials div.id-info{
        text-align: left;
    }

    section.testimonials img{
        margin-left: 1.5rem;
        vertical-align: middle;
    }

    /* WHY-US */

    section.why-us div.pov-container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    section.why-us div.pov{
        width: calc(50% - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 768px) {

    /* HEADER */

    header nav.nav-mobile{   
        display: none;
    }

    header nav.nav-desktop{
        display: block;
    }  

    /* CARDS */

    section.cards div.container{
        margin: 0 auto;
        width: 60%;
    }

    section.cards div.big-card{
        display: flex; 
    }

    section.cards div.desktop-container{
        width: 50%;
    }

    section.cards div.img-cont{
        height: 100%;
    }

    section.cards img{
        width: 70%;
    }

    /* INFO */

    section.info>div{
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
    }

    section.info div.right img{
        width: 60%;
    }

    section.info div.right div.container{
        margin-top: 50%;
    }

    /* TESTIMONIALS */

   section.testimonials div.id,
   section.testimonials>p{
        width: 60%;
        margin: 2rem auto;
   } 

   section.testimonials div.id-info>p{
        margin: 1rem 3rem;
   }

   /* WHY-US */

   section.why-us div.pov{
        width: calc((100% / 3) - 3rem);
   }
   section.why-us div.pov-container{
        width: 60%;
   }
}
